<div class="col-md-6" ng-init="startEditPage()">
	<h2>Edit Page</h2>
</div>
<div class="col-md-6">
	
</div>
<div class="clearfix"></div><hr>
<form name="tax">
	<div class="form-group col-md-12">
		<label>Page name</label>
		<input type="text" name="page_name" placeholder="Page name" class="form-control" ng-model="obj.description" required>
    </div>
    <div class="form-group col-md-12">
		<label>Body</label>
		<text-angular ng-model="obj.content"></text-angular>
	</div>
	<div class="col-md-12 form-group">
		<label>Host images</label>
		<input type="file" class="form-control btn btn-default" id="image" name="image" class="btn btn-primory" onchange="angular.element(this).scope().uploadedFile(this)">
		<div id="prog-div" style="display: none; margin-top: 10px;" class="form-group">
			<progress id="prog" class="" value="0" value="0" max="100" class="navbar-right" style="width: 100%;"></progress>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12">
			<div class="col-md-12 img-thumbnail" style="margin-top: 10px;margin-right: 10px;" ng-repeat="(k, v) in images track by $index">
				<div class="col-sm-2">
					<div  class="back-img" style="background-image: url({{v}}); height: 100px;"></div>
				</div>
				<div class="col-sm-8">
					<label for="">&nbsp;</label>
					<pre>{{v}}</pre>
				</div>
				<div class="col-sm-2">
					<label for="">&nbsp;</label>
					<button type="button" class="btn btn-danger" ng-click="deleteImg(k)" style="width:100%"><i class="fa fa-trash"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div><hr>
	<div class="col-md-12">
		<div class="pull-right">
			<button type="button" class="btn btn-danger" ui-sref="pages">Cancel</button>
			<button type="submit" class="btn btn-success" ng-disabled="tax.$invalid" ng-click="editPage(obj)">Confirm</button>
		</div>
	</div>
</form>
<div class="loader"></div>
