<div class="col-md-6" ng-init="getAll()">
	<h2>Collections</h2>
</div>
<div class="col-md-6">
	<button class="btn btn-success pull-right" ui-sref="new_collection">
		New Collection
	</button>
</div>
<div class="clearfix"></div><hr>
<div style="overflow-x: auto">
	<table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>Collection Name</th>
				<th>Published</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(k, v) in collections track by $index">
				<td>{{v.name}}</td>
				<td><label class="label label-default" ng-class="{'label-success':v.publish==true}" style="text-transform: uppercase">{{v.publish}}</label></td>
				<td><button class="btn btn-default" ui-sref="edit_collection({c_id: v.id})"><i class="fa fa-pencil"></i></button></td>
				<td><button class="btn btn-default" ui-sref="delete_collection({c_id: v.id})"><i class="fa fa-trash"></i></button></td>
			</tr>
		</tbody>
	</table>
</div>