<div class="col-md-6" ng-init="getAll()">
	<h2>Coupons</h2>
</div>
<div class="col-md-6">
	<button class="btn btn-success pull-right" ui-sref="new_coupon">
		New Coupon
	</button>
</div>
<div class="clearfix"></div><hr>
<div style="overflow-x: auto">
	<table class="table table-hover table-stripped">
		<thead>
			<tr>
				<th>Code</th>
				<th>Type</th>
				<th>Publish</th>
				<th>Limit</th>
				<th>Remaining</th>
				<th>Begin</th>
				<th>Expire</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(k, v) in coupons track by $index">
				<td>{{v.code}}</td>
				<td><div style="text-transform: uppercase;" class="label label-default" ng-class="{'label-success':v.type=='flat'}">{{v.type}}</div></td>
				<td><div style="text-transform: uppercase;" class="label label-default" ng-class="{'label-success':v.publish==true}">{{v.publish}}</div></td>
				<td><div ng-if="v.has_count_limit=='1'">{{v.limit}}</div><div ng-if="v.has_count_limit!='1'">-</div></td>
				<td><div ng-if="v.has_count_limit=='1'">{{v.remaining}}</div><div ng-if="v.has_count_limit!='1'">-</div></td>
				<td><div ng-if="v.begin==null">-</div><div ng-if="v.begin!=null">{{v.begin | date}}</div></td>
				<td><div ng-if="v.expire==null">-</div><div ng-if="v.expire!=null">{{v.expire | date}}</div></td>
				<td><button class="btn btn-default" ui-sref="edit_coupon({c_id: v.id})"><i class="fa fa-pencil"></i></button></td>
				<td><button class="btn btn-default" ui-sref="delete_coupon({c_id: v.id})"><i class="fa fa-trash"></i></button></td>
			</tr>
		</tbody>
	</table>
</div>